TẢI DỮ LIỆU LÊN

In [1]:
import pandas as pd
import numpy as np

# Đọc dữ liệu sạch
graduate = pd.read_csv('data_clean/graduate_info_clean.csv')
employment = pd.read_csv('data_clean/employment_survey_clean.csv')
certifications = pd.read_csv('data_clean/certifications_clean.csv')

print("Dữ liệu đã được tải thành công!")
print(f"- Graduate: {len(graduate)} sinh viên")
print(f"- Employment: {len(employment)} bản ghi")
print(f"- Certifications: {len(certifications)} chứng chỉ")

Dữ liệu đã được tải thành công!
- Graduate: 100 sinh viên
- Employment: 80 bản ghi
- Certifications: 115 chứng chỉ

THỐNG KÊ SỐ LƯỢNG SINH VIÊN TỐT NGHIỆP THEO TỪNG NĂM

In [4]:
print("1. SỐ LƯỢNG SINH VIÊN THEO NĂM TỐT NGHIỆP")
print("="*80)

# Thống kê số lượng sinh viên theo từng năm tốt nghiệp
so_sv_theo_nam = graduate["grad_year"].value_counts().sort_index()
so_sv_theo_nam
tong_sv=so_sv_theo_nam.sum()
print(so_sv_theo_nam)
print(f"Tổng số sinh viên: {tong_sv}")

1. SỐ LƯỢNG SINH VIÊN THEO NĂM TỐT NGHIỆP
================================================================================
grad_year
2021    22
2022    40
2023    38
Name: count, dtype: int64
Tổng số sinh viên: 100

THỐNG KÊ SỐ LƯỢNG SINH VIÊN THEO NGÀNH

In [5]:
print("2. SỐ LƯỢNG SINH VIÊN THEO NGÀNH")
print("="*80)
# Thống kê số lượng sinh viên theo ngành
so_sv_theo_nganh = graduate["major"].value_counts()

so_sv_theo_nganh
print(so_sv_theo_nganh)
print(f"Tổng số sinh viên: {so_sv_theo_nganh.sum()}")

2. SỐ LƯỢNG SINH VIÊN THEO NGÀNH
================================================================================
major
Quản trị kinh doanh    36
Công nghệ thông tin    35
Kinh tế                29
Name: count, dtype: int64
Tổng số sinh viên: 100

THỐNG KÊ MỨC LƯƠNG TRUNG BÌNH THEO MAJOR

In [6]:
print("3. MỨC LƯƠNG TRUNG BÌNH THEO NGÀNH")
print("="*80)


# Gộp dữ liệu việc làm với ngành học
emp_grad = employment.merge(
    graduate[['student_id', 'major']],
    on='student_id',
    how='left'
)

# Lọc lương hợp lệ và tính lương trung bình theo ngành
# Lọc lương hợp lệ và tính lương trung bình theo ngành
luong_tb_theo_nganh = (
    emp_grad[emp_grad['salary'] > 0]
    .groupby('major')['salary']
    .mean()
    .round(0).astype(int)
)


print(luong_tb_theo_nganh)

3. MỨC LƯƠNG TRUNG BÌNH THEO NGÀNH
================================================================================
major
Công nghệ thông tin    9133333
Kinh tế                9000000
Quản trị kinh doanh    9000000
Name: salary, dtype: int64