In [1]:
import pandas as pd
import numpy as np

# Đọc dữ liệu sạch
graduate = pd.read_csv('data_clean/graduate_info_clean.csv')
employment = pd.read_csv('data_clean/employment_survey_clean.csv')
certifications = pd.read_csv('data_clean/certifications_clean.csv')

# Merge employment với graduate
emp_grad = employment.merge(graduate[['student_id', 'major', 'grad_year']], 
                            on='student_id', how='left')

print("Dữ liệu được tải thành công!")

Dữ liệu được tải thành công!

## 1. Mức lương khởi điểm trung bình theo ngành

In [2]:
print("\n" + "="*80)
print("1. MỨC LƯƠNG TRUNG BÌNH THEO NGÀNH")
print("="*80)

# Lọc lương hợp lệ (> 0)
valid_salary = emp_grad[emp_grad['salary'] > 0]

salary_by_major = valid_salary.groupby('major').agg({
    'salary': ['count', 'mean', 'min', 'max', 'std']
}).round(0)

salary_by_major.columns = ['Số bản ghi', 'Lương TB', 'Min', 'Max', 'Std Dev']
salary_by_major = salary_by_major.astype(int)

print(salary_by_major)
print(f"\nNgành có lương TB cao nhất: {salary_by_major['Lương TB'].idxmax()}")
print(f"Ngành có lương TB thấp nhất: {salary_by_major['Lương TB'].idxmin()}")

================================================================================
1. MỨC LƯƠNG TRUNG BÌNH THEO NGÀNH
================================================================================
                     Số bản ghi  Lương TB      Min       Max  Std Dev
major
Công nghệ thông tin          15   9133333  8000000  10000000   915475
Kinh tế                       8   9000000  8000000  10000000   755929
Quản trị kinh doanh          12   9000000  8000000  10000000   738549

Ngành có lương TB cao nhất: Công nghệ thông tin
Ngành có lương TB thấp nhất: Kinh tế

## 2. Mức lương trung bình theo năm tốt nghiệp

In [3]:
print("\n" + "="*80)
print("2. MỨC LƯƠNG TRUNG BÌNH THEO NĂM TỐT NGHIỆP")
print("="*80)

salary_by_year = valid_salary.groupby('grad_year').agg({
    'salary': ['count', 'mean', 'min', 'max']
}).round(0)

salary_by_year.columns = ['Số bản ghi', 'Lương TB', 'Min', 'Max']
salary_by_year = salary_by_year.astype(int)

print(salary_by_year)
print(f"\nNăm có lương TB cao nhất: {salary_by_year['Lương TB'].idxmax()}")

================================================================================
2. MỨC LƯƠNG TRUNG BÌNH THEO NĂM TỐT NGHIỆP
================================================================================
           Số bản ghi  Lương TB      Min       Max
grad_year
2021                5   9400000  9000000  10000000
2022               13   9000000  8000000  10000000
2023               17   9000000  8000000  10000000

Năm có lương TB cao nhất: 2021